In [252]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests, json
import gmaps
import os
import time
# Import API key
from config import gkey
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

gmaps.configure(api_key= gkey)

In [232]:
# Retriev the Stored Part I results from WeatherPy into DataFrame

Weather_data = "weather_data.csv"
data = pd.read_csv(Weather_data)
data.dropna()
data.head()

,City,Country,Date,Lat,Lng,Cloudiness,Humidity,Max Temp (F),Wind Speed
0,Jamestown,US,1584164385,42.10,-79.24,1,67,35.01,11.41
1,Albany,US,1584164356,42.60,-73.97,1,55,39.99,14.99
2,Vila Velha,BR,1584164584,-20.33,-40.29,75,94,75.20,3.36
3,Torbay,CA,1584164538,47.67,-52.73,75,79,28.00,23.04
4,Ilulissat,GL,1584164558,69.22,-51.10,100,71,3.20,17.22

In [233]:
# Humidity Heatmap

Locations= data[["Lat", "Lng"]]
Humidity= data['Humidity'].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(Locations, weights= Humidity, 
                                 dissipating=False, max_intensity=20,
                                 point_radius=1)


# # Add layer
fig.add_layer(heat_layer)

# # Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [244]:
# Drop na values from dataframe:
data.dropna()

# # Ideal Weather Condition:
#     A max temperature lower than 80 degrees but higher than 70.
#     Wind speed less than 10 mph.
#     Zero cloudiness.
#     Humidity leass than 60 and greater than 30. 

# Ideal Weather DataFrame:
Ideal_Weather= data[(data['Max Temp (F)'] < 80) & (data['Max Temp (F)'] > 70) & (data['Wind Speed'] < 10) 
                     & (data['Cloudiness'] == 0) & (data['Humidity'] <70) & (data['Humidity'] >15)]

Ideal_Weather.reset_index(inplace= True, drop= True)
Ideal_Weather

,City,Country,Date,Lat,Lng,Cloudiness,Humidity,Max Temp (F),Wind Speed
0,Māndal,IN,1584165464,25.45,74.57,0,20,74.37,9.64
1,Dali,CN,1584165501,25.70,100.18,0,21,73.31,6.31
2,Ellisras,ZA,1584165701,-23.66,27.74,0,56,76.08,7.38
3,Nāthdwāra,IN,1584165957,24.93,73.82,0,33,73.40,6.93
4,Werda,BW,1584166485,-25.27,23.28,0,58,72.03,4.72

In [279]:
# Hotel Map

hotel_df= pd.DataFrame()
hotel_df['City']= Ideal_Weather['City']
hotel_df['Country']= Ideal_Weather['Country']
hotel_df['Lat']= Ideal_Weather['Lat']
hotel_df['Lng']= Ideal_Weather['Lng']
hotel_df['Hotel Name']= ''
# hotel_df.reset_index(inplace = True, drop = True)
hotel_df.head()

        City Country    Lat     Lng Hotel Name
0     Māndal      IN  25.45   74.57
1       Dali      CN  25.70  100.18
2   Ellisras      ZA -23.66   27.74
3  Nāthdwāra      IN  24.93   73.82
4      Werda      BW -25.27   23.28

In [360]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "hotel",
    "keyword": "hotel",
    "key": gkey}

# Start the call counter 
record = 1

print(f"Beginning Data Retrieval")
print(f"-------------------------------")
# Use the lat/lng from the csv file to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row['Lat']
    lng = row['Lng']

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

    # make request and print url
    response = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(response.url)

    # convert to json
    response_json = response.json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = response_json["results"][0]["name"]
        Hotel_record = response_json["results"][0]["name"]
        print(f"Processing Record {record} of Set {record} | {Hotel_record}")

        # Increase counter by one 
        record= record + 1
        # Wait a second in loop to not over exceed rate limit of API
        time.sleep(1.0)
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Beginning Data Retrieval
-------------------------------
Processing Record 1 of Set 1 | Shahpura Bagh
Processing Record 2 of Set 2 | Hilton Dali Resort & SPA
Processing Record 3 of Set 3 | Bateleur Tented Safari Lodge and Bush Spa
Processing Record 4 of Set 4 | The LaLiT Laxmi Vilas Palace Udaipur
Processing Record 5 of Set 5 | Tapama Lodge

In [364]:
hotel_df.dropna()

        City Country    Lat     Lng                                 Hotel Name
0     Māndal      IN  25.45   74.57                              Shahpura Bagh
1       Dali      CN  25.70  100.18                   Hilton Dali Resort & SPA
2   Ellisras      ZA -23.66   27.74  Bateleur Tented Safari Lodge and Bush Spa
3  Nāthdwāra      IN  24.93   73.82       The LaLiT Laxmi Vilas Palace Udaipur
4      Werda      BW -25.27   23.28                               Tapama Lodge

In [369]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [370]:
# # Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

fig = gmaps.figure(layout= figure_layout)


Locations= data[["Lat", "Lng"]]
Humidity= data['Cloudiness'].astype(float)

# Create heat layer
heat_layer = gmaps.heatmap_layer(Locations, weights= Humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
coordinates= hotel_df[['Lat', 'Lng']]
markers= gmaps.marker_layer(coordinates)
# # Add layer
fig.add_layer(markers)
fig.add_layer(heat_layer)
# # Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…