In [184]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey
gmaps.configure(api_key= gkey)

In [134]:
# Retriev the Stored Part I results from WeatherPy into DataFrame

Weather_data = "weather_data.csv"
data = pd.read_csv(Weather_data)
data.dropna()
data.head()
len(np.arange(0,6))

6

In [29]:
# Humidity Heatmap

Locations= data[["Lat", "Lng"]]
Humidity= data['Humidity'].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(Locations, weights= Humidity, 
                                 dissipating=False, max_intensity=20,
                                 point_radius=1)


# # Add layer
fig.add_layer(heat_layer)

# # Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [178]:
# Drop na values from dataframe:
data.dropna()

# # Ideal Weather Condition:
#     A max temperature lower than 80 degrees but higher than 70.
#     Wind speed less than 10 mph.
#     Zero cloudiness.

# Ideal Weather DataFrame:
Ideal_Weather= data[(data['Max Temp (F)'] < 80) & (data['Max Temp (F)'] > 70) & (data['Wind Speed'] < 10)] 
#                      (data['Cloudiness'] == 0) & (data['Humidity'] <60) ]

Ideal_Weather

,City,Country,Date,Lat,Lng,Cloudiness,Humidity,Max Temp (F),Wind Speed
2,Vila Velha,BR,1584164584,-20.33,-40.29,75,94,75.20,3.36
8,Takoradze,GH,1584164619,4.88,-1.76,1,94,77.47,3.89
13,Cabo San Lucas,MX,1584164416,22.89,-109.91,40,73,72.00,5.82
20,Puerto Ayora,EC,1584164541,-0.74,-90.35,62,85,77.00,1.99
21,Lichinga,MZ,1584165101,-13.31,35.24,100,86,74.52,0.94
...,...,...,...,...,...,...,...,...,...
652,Yaan,NG,1584166472,7.38,8.57,74,16,74.19,4.23
658,Werda,BW,1584166485,-25.27,23.28,0,58,72.03,4.72
661,Novo Aripuanã,BR,1584166492,-5.12,-60.38,94,90,76.55,0.29
662,Minatitlán,MX,1584166494,17.98,-94.52,0,94,71.80,4.63
663,La Gomera,GT,1584166496,14.08,-91.05,1,79,76.10,5.55

In [182]:
# Hotel Map

hotel_df= pd.DataFrame()
hotel_df['City']= Ideal_Weather['City']
hotel_df['Country']= Ideal_Weather['Country']
hotel_df['Lat']= Ideal_Weather['Lat']
hotel_df['Lng']= Ideal_Weather['Lng']
hotel_df['Hotel Name']= ''
hotel_df.reset_index(inplace = True, drop = True)
hotel_df.head()

             City Country    Lat     Lng Hotel Name
0      Vila Velha      BR -20.33  -40.29
1       Takoradze      GH   4.88   -1.76
2  Cabo San Lucas      MX  22.89 -109.91
3    Puerto Ayora      EC  -0.74  -90.35
4        Lichinga      MZ -13.31   35.24

In [183]:
# params dictionary to update each iteration

params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": gkey
}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

    # Sending request
    name_address = requests.get(base_url, params=params)

    # convert to json
    name_address = name_address.json()
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, 'Hotel Name'] = name_address["results"][0]["name"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.